.mainBox {
    height: 85vh;
}

.outerBox {
    height: 37rem;
    width: 48rem;
    background-color: #131a2a;
}

.outerBoxextra {
    height: 37rem;
    width: 48rem;
    background-color: #131a2a;
}

.outerBox2 {
    height: 20rem;
    background-color: #202938;
    border-color: #383f51;
}

.outerBoxextra2 {
    height: 35rem;
    background-color: #202938;
    border-color: #383f51;
}

.outerBox3 {
    height: 10rem;
    background-color: #202938;
    border-color: #383f51;
}

.inputBox2 {
    height: 5rem;
    background-color: #202938;
    border-color: #383f51;
}

.inputBox1 {
    height: 15rem;
    background-color: #202938;
    border-color: #383f51;
}

.btn1 {
    height: 4rem;
    width: 21rem;
    background-color: #414a59;
    border-color: #383f51;
}

.btn2 {
    height: 4rem;
    width: 21rem;
    background-color: #ce6400;
    border-color: #414a59;
}

.btn2:hover {
    opacity: .8;
}

.btn1:hover {
    opacity: .8;
}

.overFlowBox {
    overflow-y: scroll;
    height: 15rem;
    border-color: #414a59;
}

.overFlowBox::-webkit-scrollbar {
    display: none;
  }


.inputBox1::-webkit-scrollbar {
    display: none;
  }

.boxData {
    border-color: #414a59;
}

.marked{
    color: #ce6400;
    font-weight: 700;
}

.unmark{
    background-color: #202938;
}