<div class="mainBox px-8 py-4 flex justify-center items-center">
  
  <div class="outerBox max-w-3xl shadow-lg mt-8 ml-8 rounded-lg px-4 py-4">
    <div class="outerBox2 border rounded-t-lg px-4">
      <div class="w-48 mt-2 text-white text-start text-2xl">
        Context
      </div>
      <textarea id="message" class=" mt-1 inputBox1 w-full rounded-lg border px-4 py-2 text-white">
      </textarea>
    </div>

    <div class="outerBox3 border rounded-b-lg px-4">
      <div class="w-48 mt-2 text-white text-start text-2xl">
        Question
      </div>
      <textarea id="message" class=" mt-1 inputBox2 w-full rounded-lg border px-4 py-2 text-white">
      </textarea>
    </div>
    <div class="mt-3">
      <button type="button"
        class="btn1 text-white shadow-lg border font-bold font-large rounded-2xl text-lg px-5 py-2.5 text-center mr-2 mb-2">Clear</button>
        <button type="button"
        class="btn2 text-white shadow-lg border font-bold font-large rounded-2xl text-lg px-5 py-2.5 text-center ml-2 mb-2">Submit</button>
    </div>
  </div>

  <div class="outerBoxextra max-w-3xl shadow-lg mt-8 ml-8 rounded-lg px-4 py-4">
    <div class="outerBoxextra2 border rounded-lg px-4">
      <div class="w-48 mt-2 text-white text-start text-2xl">
        Answer
      </div>
      
    </div>   
  </div>


</div>

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quo distinctio ut veritatis amet! Provident voluptatum consequuntur ad error! Ratione sapiente ex rem fugit magnam cumque porro nostrum sunt dolor!